src/flows/Hold_Mapping_Flow-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignSuggestedDate</name>
        <label>AssignSuggestedDate</label>
        <locationX>603</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>varCallupDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuggestedCallUp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_up_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Map_Hold_Type</name>
        <label>Map Hold Type</label>
        <locationX>603</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>HoldsLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varHoldType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSuggestedDate</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <formulas>
        <name>SuggestedCallUp</name>
        <dataType>Date</dataType>
        <expression>{!varCallupDate} + {!Type.NumberofDays__c}</expression>
    </formulas>
    <interviewLabel>Hold Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hold Mapping Flow</label>
    <loops>
        <name>HoldsLoop</name>
        <label>HoldsLoop</label>
        <locationX>373</locationX>
        <locationY>88</locationY>
        <assignNextValueToReference>Type</assignNextValueToReference>
        <collectionReference>HoldTypeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Hold_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Call_up_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Hold_Type_Metadata</name>
        <label>Hold Type Metadata</label>
        <locationX>191</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HoldsLoop</targetReference>
        </connector>
        <object>Hold_Type_Mapping__mdt</object>
        <outputReference>HoldTypeCollection</outputReference>
        <queriedFields>HoldType__c</queriedFields>
        <queriedFields>NumberofDays__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_up_Date</name>
        <label>Update Call up Date</label>
        <locationX>372</locationX>
        <locationY>418</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallUpDate__c</field>
            <value>
                <elementReference>SuggestedCallUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Hold__c</object>
    </recordUpdates>
    <startElementReference>Hold_Type_Metadata</startElementReference>
    <variables>
        <name>HoldTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>SuggestedCallUpDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>varCallupDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
