src/flows/Hold_Mapping_Flow-44.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>No_Records_Returned_from_Lookup</name>
        <label>No Records Returned from Lookup</label>
        <locationX>129</locationX>
        <locationY>291</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varHoldRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Temp_Edit_Access_to_Hold</name>
        <label>Temp Edit Access to Hold</label>
        <locationX>844</locationX>
        <locationY>284</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>Update_Call_up_Date</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>PermissionSetToEditHold</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignNumberofDays</name>
        <label>AssignNumberofDays</label>
        <locationX>671</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>varCallupDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjecTest.NumberofDays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Temp_Edit_Access_to_Hold</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>434</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>AssignNumberofDays</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hold_Type_Does_not_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjecTest.HoldType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varHoldType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Records_Returned_from_Lookup</targetReference>
            </connector>
            <label>Hold Type Does not match</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Hold Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hold Mapping Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HoldType_Lookup</name>
        <label>HoldType Lookup</label>
        <locationX>436</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filters>
            <field>HoldType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldType</elementReference>
            </value>
        </filters>
        <object>Hold_Type_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>SObjecTest.HoldType__c</assignToReference>
            <field>HoldType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SObjecTest.NumberofDays__c</assignToReference>
            <field>NumberofDays__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Permission_Lookup</name>
        <label>Permission Lookup</label>
        <locationX>436</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HoldType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temp Edit Access to Hold</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>PermissionSetToEditHold</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_up_Date</name>
        <label>Update Call up Date</label>
        <locationX>1019</locationX>
        <locationY>277</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallUpDate__c</field>
            <value>
                <elementReference>varCallupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Hold__c</object>
    </recordUpdates>
    <startElementReference>Permission_Lookup</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>{!varHoldType}
{!varNumberofDays}</text>
    </textTemplates>
    <variables>
        <name>HoldTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>PermissionSetToEditHold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Temp Edit Access to Hold</stringValue>
        </value>
    </variables>
    <variables>
        <name>SObjecTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>varCallupDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
