src/flows/Hold_Mapping_Flow-37.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>No_Records_Returned_from_Lookup</name>
        <label>No Records Returned from Lookup</label>
        <locationX>743</locationX>
        <locationY>136</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varCallupDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varHoldType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignNumberofDays</name>
        <label>AssignNumberofDays</label>
        <locationX>411</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>varCallupDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjecTest.NumberofDays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_up_Date</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Hold Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hold Mapping Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HoldType_Lookup</name>
        <label>HoldType Lookup</label>
        <locationX>243</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNumberofDays</targetReference>
        </connector>
        <filters>
            <field>HoldType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldType</elementReference>
            </value>
        </filters>
        <object>Hold_Type_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>SObjecTest.HoldType__c</assignToReference>
            <field>HoldType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SObjecTest.NumberofDays__c</assignToReference>
            <field>NumberofDays__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_up_Date</name>
        <label>Update Call up Date</label>
        <locationX>574</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>No_Records_Returned_from_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallUpDate__c</field>
            <value>
                <elementReference>varCallupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Hold__c</object>
    </recordUpdates>
    <startElementReference>HoldType_Lookup</startElementReference>
    <variables>
        <name>HoldTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>SObjecTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>varCallupDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
