src/flows/Hold_Mapping_Flow-33.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignNumberofDays</name>
        <label>AssignNumberofDays</label>
        <locationX>404</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>varCallupDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjecTest.NumberofDays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_up_Date</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Hold Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hold Mapping Flow</label>
    <loops>
        <name>HoldsLoop</name>
        <label>HoldsLoop</label>
        <locationX>417</locationX>
        <locationY>87</locationY>
        <assignNextValueToReference>Type</assignNextValueToReference>
        <collectionReference>HoldTypeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Hold_Type_Metadata</name>
        <label>Hold Type Metadata</label>
        <locationX>271</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HoldsLoop</targetReference>
        </connector>
        <filters>
            <field>HoldType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldType</elementReference>
            </value>
        </filters>
        <object>Hold_Type_Mapping__mdt</object>
        <outputReference>HoldTypeCollection</outputReference>
        <queriedFields>HoldType__c</queriedFields>
        <queriedFields>NumberofDays__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>HoldType_Lookup</name>
        <label>HoldType Lookup</label>
        <locationX>236</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNumberofDays</targetReference>
        </connector>
        <filters>
            <field>HoldType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldType</elementReference>
            </value>
        </filters>
        <object>Hold_Type_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>SObjecTest.HoldType__c</assignToReference>
            <field>HoldType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SObjecTest.NumberofDays__c</assignToReference>
            <field>NumberofDays__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_up_Date</name>
        <label>Update Call up Date</label>
        <locationX>567</locationX>
        <locationY>358</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHoldRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallUpDate__c</field>
            <value>
                <elementReference>varCallupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Hold__c</object>
    </recordUpdates>
    <startElementReference>HoldType_Lookup</startElementReference>
    <variables>
        <name>HoldTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>SObjecTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>varCallupDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHoldType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
