src/flows/Loan_Share-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Loan Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Share</label>
    <loops>
        <name>LoanShareLoop</name>
        <label>LoanShareLoop</label>
        <locationX>297</locationX>
        <locationY>302</locationY>
        <assignNextValueToReference>varLoanShare</assignNextValueToReference>
        <collectionReference>varLoanShareCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Shares</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>LoanShare</name>
        <label>LoanShare</label>
        <locationX>114</locationX>
        <locationY>187</locationY>
        <assignRecordIdToReference>varLoanShareID</assignRecordIdToReference>
        <connector>
            <targetReference>LoanShareLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varLoanID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Flow__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varUnderwriterID</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__Share</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Shares</name>
        <label>Delete Shares</label>
        <locationX>568</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>LoanShareLoop</targetReference>
        </connector>
        <inputReference>varLoanShare</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Loan_Lookup</name>
        <label>Loan Lookup</label>
        <locationX>112</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoanShare</targetReference>
        </connector>
        <object>Loan__c</object>
        <outputAssignments>
            <assignToReference>varLoanID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnderwriterID</assignToReference>
            <field>Underwriter__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LoanShareLookup</name>
        <label>LoanShareLookup</label>
        <locationX>113</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoanShareLoop</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoanID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varUnderwriterID</elementReference>
            </value>
        </filters>
        <object>Loan__Share</object>
        <outputReference>varLoanShareCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Loan_Lookup</startElementReference>
    <variables>
        <name>varLoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loan__Share</objectType>
    </variables>
    <variables>
        <name>varLoanShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loan__Share</objectType>
    </variables>
    <variables>
        <name>varLoanShareID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUnderwriterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
