src/flows/New_Applicaiton_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <constants>
        <name>CustomerRole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012f4000000DGvG</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>ApplicationFileNumber</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FileNumberType__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Applicaiton Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Applicaiton Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Association</name>
        <label>Create Application Association</label>
        <locationX>544</locationX>
        <locationY>359</locationY>
        <assignRecordIdToReference>varAppAssociation</assignRecordIdToReference>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAcct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>CustomerRole</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationAssociation__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateApplication</name>
        <label>CreateApplication</label>
        <locationX>545</locationX>
        <locationY>252</locationY>
        <assignRecordIdToReference>varApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Application_Association</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>varAcct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileNumberType__c</field>
            <value>
                <elementReference>File_Number_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileNumber__c</field>
            <value>
                <elementReference>File_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Receipt_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceiptNumber__c</field>
            <value>
                <elementReference>Receipt_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <screens>
        <name>New_Application</name>
        <label>New Application</label>
        <locationX>544</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateApplication</targetReference>
        </connector>
        <fields>
            <name>Receipt_Number</name>
            <dataType>String</dataType>
            <fieldText>Receipt Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>File_Number</name>
            <dataType>String</dataType>
            <fieldText>File Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>File_Number_Type</name>
            <choiceReferences>ApplicationFileNumber</choiceReferences>
            <dataType>String</dataType>
            <fieldText>File Number Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>New_Application</startElementReference>
    <variables>
        <name>varAcct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAppAssociation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
