src/flows/PermSetTest-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate</name>
        <label>Activate</label>
        <locationX>707</locationX>
        <locationY>169</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>UpdateHold</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>SessionPermissionSet</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>deactivate</name>
        <label>deactivate</label>
        <locationX>713</locationX>
        <locationY>392</locationY>
        <actionName>deactivateSessionPermSet</actionName>
        <actionType>deactivateSessionPermSet</actionType>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>SessionPermissionSet</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>PermSetTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PermSetTest</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>My_Permission_Set</name>
        <label>My Permission Set</label>
        <locationX>703</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temp_Edit_Access_to_Hold</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>SessionPermissionSet</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateHold</name>
        <label>UpdateHold</label>
        <locationX>708</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>deactivate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Hold__c</object>
    </recordUpdates>
    <startElementReference>My_Permission_Set</startElementReference>
    <variables>
        <name>SessionPermissionSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
